{% extends 'base.html.twig' %}

{% block body %}
    <!-- Start Preloader -->
    <div id="tm-preloader">
        <div id="tm-preloader-in">
            <div></div><div></div><div></div><div></div><div></div>
        </div>
    </div>
    <!-- End Preloader -->

    {% include 'default/header1.html.twig' %}

    <!-- Start Blog Header -->
    <section class="tm-blog-hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-182">
                    <h18 class="tm-blog-hero-title">Galerie</h18>
                    <ul class="tm-breadcrumb">
                        <li><a href="{{ path('homepage') }}">Home</a></li>
                        <li>Galerie</li>
                    </ul>
                </div><!-- .col -->
            </div>
        </div>
    </section>
    <!-- End Blog Header -->

    <!-- Start Site Content -->
    <div class="container justify-text">
        <div class="mt-5 mb-5">
            <section id="gallery">
                <div class="empty-space col-md-b1800 col-xs-b70"></div>
                <div class="tm-section-heading text-center">
                    <h2>View our Gallery</h2>
                    <div class="tm-section-seperator"><span></span></div>
                    <div class="empty-space col-md-b60 col-xs-b40"></div>
                </div>
                <div class="tm-portfolio-filter text-center">
                    <ul>
                        <li class="active"><a href="#" data-filter="*">ALL</a></li>
                        <li><a href="#" data-filter=".SILHOUETTE">SILHOUETTE</a></li>
                        <li><a href="#" data-filter=".DENTAIRE">DENTAIRE</a></li>
                        <li><a href="#" data-filter=".SEINS">SEINS</a></li>
                        <li><a href="#" data-filter=".VISAGE">VISAGE</a></li>
                    </ul>
                </div>
                <div class="tm-portfolio zoom-gallery tm-gutter-less">
                    <div class="tm-grid-sizer"></div>
                    <div class="row justify-content-center">
                        <div class="tm-portfolio-item urology SILHOUETTE">
                            <a href="{{ asset('assets/img/portfolio/35.png') }}"  class="item-inner">
                                <img src="{{ asset('assets/img/portfolio/35.png') }}">
                                <div class="tm-zoom-btn"></div>
                                <i class="tm-zoom-icon icofont icofont-drag1"></i>
                            </a>
                        </div><!-- .tm-portfolio-item -->
                        <div class="tm-portfolio-item urology SILHOUETTE">
                            <a href="{{ asset('assets/img/portfolio/29-29.png') }}"  class="item-inner">
                                <img src="{{ asset('assets/img/portfolio/29-29.png') }}">
                                <div class="tm-zoom-btn"></div>
                                <i class="tm-zoom-icon icofont icofont-drag1"></i>
                            </a>
                        </div><!-- .tm-portfolio-item -->
                        <div class="tm-portfolio-item urology SILHOUETTE">
                            <a href="{{ asset('assets/img/portfolio/34.png') }}"  class="item-inner">
                                <img src="{{ asset('assets/img/portfolio/34.png') }}">
                                <div class="tm-zoom-btn"></div>
                                <i class="tm-zoom-icon icofont icofont-drag1"></i>
                            </a>
                        </div><!-- .tm-portfolio-item -->
                        <div class="tm-portfolio-item urology SILHOUETTE">
                            <a href="{{ asset('assets/img/portfolio/36.png') }}"  class="item-inner">
                                <img src="{{ asset('assets/img/portfolio/36.png') }}">
                                <div class="tm-zoom-btn"></div>
                                <i class="tm-zoom-icon icofont icofont-drag1"></i>
                            </a>
                        </div><!-- .tm-portfolio-item -->
                        <div class="row justify-content-center">
                            <div class="tm-portfolio-item urology SILHOUETTE">
                                <a href="{{ asset('assets/img/portfolio/37.png') }}"  class="item-inner">
                                    <img src="{{ asset('assets/img/portfolio/37.png') }}">
                                    <div class="tm-zoom-btn"></div>
                                    <i class="tm-zoom-icon icofont icofont-drag1"></i>
                                </a>
                            </div><!-- .tm-portfolio-item -->
                            <div class="tm-portfolio-item urology SILHOUETTE">
                                <a href="{{ asset('assets/img/portfolio/38.png') }}"  class="item-inner">
                                    <img src="{{ asset('assets/img/portfolio/38.png') }}">
                                    <div class="tm-zoom-btn"></div>
                                    <i class="tm-zoom-icon icofont icofont-drag1"></i>
                                </a>
                            </div><!-- .tm-portfolio-item -->
                            <div class="tm-portfolio-item urology SILHOUETTE">
                                <a href="{{ asset('assets/img/portfolio/39.png') }}"  class="item-inner">
                                    <img src="{{ asset('assets/img/portfolio/39.png') }}">
                                    <div class="tm-zoom-btn"></div>
                                    <i class="tm-zoom-icon icofont icofont-drag1"></i>
                                </a>
                            </div><!-- .tm-portfolio-item -->
                            <div class="tm-portfolio-item urology VISAGE">
                                <a href="{{ asset('assets/img/portfolio/40.png') }}"  class="item-inner">
                                    <img src="{{ asset('assets/img/portfolio/40.png') }}">
                                    <div class="tm-zoom-btn"></div>
                                    <i class="tm-zoom-icon icofont icofont-drag1"></i>
                                </a>
                            </div><!-- .tm-portfolio-item -->
                        <div class="tm-portfolio-item urology VISAGE">
                            <a href="{{ asset('assets/img/portfolio/32.png') }}"  class="item-inner">
                                <img src="{{ asset('assets/img/portfolio/32.png') }}">
                                <div class="tm-zoom-btn"></div>
                                <i class="tm-zoom-icon icofont icofont-drag1"></i>
                            </a>
                        </div><!-- .tm-portfolio-item -->
                        <div class="tm-portfolio-item urology VISAGE">
                            <a href="{{ asset('assets/img/portfolio/31-31.png') }}"  class="item-inner">
                                <img src="{{ asset('assets/img/portfolio/31-31.png') }}">
                                <div class="tm-zoom-btn"></div>
                                <i class="tm-zoom-icon icofont icofont-drag1"></i>
                            </a>
                        </div><!-- .tm-portfolio-item -->
                        <div class="tm-portfolio-item urology DENTAIRE">
                            <a href="{{ asset('assets/img/portfolio/10-10.png') }}"  class="item-inner">
                                <img src="{{ asset('assets/img/portfolio/10-10.png') }}">
                                <div class="tm-zoom-btn"></div>
                                <i class="tm-zoom-icon icofont icofont-drag1"></i>
                            </a>
                        </div><!-- .tm-portfolio-item -->
                        <div class="tm-portfolio-item urology SEINS">
                            <a href="{{ asset('assets/img/portfolio/30-30.png') }}"  class="item-inner">
                                <img src="{{ asset('assets/img/portfolio/30-30.png') }}">
                                <div class="tm-zoom-btn"></div>
                                <i class="tm-zoom-icon icofont icofont-drag1"></i>
                            </a>
                        </div><!-- .tm-portfolio-item -->
                        <div class="tm-portfolio-item urology DENTAIRE">
                            <a href="{{ asset('assets/img/portfolio/13-13.png') }}"  class="item-inner">
                                <img src="{{ asset('assets/img/portfolio/13-13.png') }}">
                                <div class="tm-zoom-btn"></div>
                                <i class="tm-zoom-icon icofont icofont-drag1"></i>
                            </a>
                        </div><!-- .tm-portfolio-item -->
                        <div class="tm-portfolio-item urology VISAGE">
                            <a href="{{ asset('assets/img/portfolio/28-28.png') }}"  class="item-inner">
                                <img src="{{ asset('assets/img/portfolio/28-28.png') }}">
                                <div class="tm-zoom-btn"></div>
                                <i class="tm-zoom-icon icofont icofont-drag1"></i>
                            </a>
                        </div><!-- .tm-portfolio-item -->
                        <div class="tm-portfolio-item urology SEINS">
                            <a href="{{ asset('assets/img/portfolio/27-27.png') }}"  class="item-inner">
                                <img src="{{ asset('assets/img/portfolio/27-27.png') }}">
                                <div class="tm-zoom-btn"></div>
                                <i class="tm-zoom-icon icofont icofont-drag1"></i>
                            </a>
                        </div><!-- .tm-portfolio-item -->
                        <div class="tm-portfolio-item urology SILHOUETTE">
                            <a href="{{ asset('assets/img/portfolio/26-26.png') }}"  class="item-inner">
                                <img src="{{ asset('assets/img/portfolio/26-26.png') }}">
                                <div class="tm-zoom-btn"></div>
                                <i class="tm-zoom-icon icofont icofont-drag1"></i>
                            </a>
                        </div><!-- .tm-portfolio-item -->
                    </div>
                </div><!-- .portfolio -->
            </section>
            <!-- End Gallery Section -->
        </div>
    </div>
    <!-- End Site Content -->

    {% include 'default/footer.html.twig' %}

    <!-- Scroll Up -->
    <div id='scrollup'></div>
{% endblock %}