<!-- Start Site Header Wrap -->
<header>
    <div class="tm-site-header">
        <div class="tm-header-info-wrap">
            <div class="container tm-header-info">
                <a href="#"><i class="fa fa-phone"></i>+21654388569</a>
                <a href="#"><i class="fa fa-envelope"></i>Esther.chirurgie@gmail.com</a>
            </div>
        </div>
        <div class="tm-header-menu">
            <div class="container tm-header-menu-container">
                <div class="tm-site-branding">
                    <a href="{{ path('homepage') }}" class="tm-logo-link index-title">
                        <img class="tm-logo logo-header" src="{{ asset('assets/img/logos/51279125_615054338948710_3412857584078553088_n.png') }}" alt="">
                        Esther Esthetica
                    </a>
                </div>
                <nav class="tm-primary-nav">
                    <ul class="tm-primary-nav-list">
                        <li class="menu-item">
                            <a href="{{ path('homepage') }}" class="nav-link ">{{ 'translate.home'|trans }}</a>
                        </li>
                        <li class="menu-item menu-item-has-children"><a href="{{ path('homepage') }}#department" class="nav-link">{{ 'translate.intervention'|trans }}</a>
                            <ul>
                                {% for c in chirurgies %}
                                    {% if app.request.locale =='fr' %}
                                    <li class="menu-item"><a href="{{ path('chirurgie_index', {'id': c.id}) }}">{{ c.name }}</a></li>
                                {% else  %}
                                    <li class="menu-item"><a href="{{ path('chirurgie_index', {'id': c.id}) }}">{{ c.nameen }}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children"><a href="" class="nav-link">{{ 'translate.sejour'|trans }}</a>
                            <ul>
                                <li class="menu-item"><a href="{{ path('procedure_index') }}">{{ 'translate.procedure'|trans }}</a></li>
                                <li class="menu-item"><a href="{{ path('clinique_index') }}">{{ 'translate.clinic'|trans }}</a></li>
                                <li class="menu-item"><a href="{{ path('hotel_index') }}">{{ 'translate.hotel'|trans }}</a></li>
                            </ul>
                        </li>
                        <!--<li class="menu-item"><a href="{{ path('tarifs_index') }}" class="nav-link">{{ 'translate.tarifs'|trans }}</a></li>-->
                        <li class="menu-item" id="devis_link"><a href="#" class="nav-link">{{ 'translate.devis'|trans }}</a></li>
                        <li class="menu-item"><a href="{{ path('blog_index') }}" class="nav-link">{{ 'translate.blog'|trans }}</a></li>
                        <li class="menu-item"><a href="#" id="contact_link" class="nav-link">{{ 'translate.contact'|trans }}</a></li>

                        <li class="menu-item menu-item-has-children ml-md-5">
                            <a href="" class="nav-link">{{ app.request.locale }}</a>
                            <ul>
                                <li class="menu-item">
                                    <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">
                                        français
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
                                        english
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>